<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%#= devise_error_messages! %>

<div>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>


<div><%= f.label :email %><br />
  <%if current_user.admin? %>
  <%= f.email_field :email, autofocus: true %></div>
  <label class="error" for="user_email"><%= validation_errors resource.errors['email'] %></label>
  <% else %>
  <%= f.email_field :email, readonly: true %></div>
  <% end %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :new_password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

    <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

      <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
  <label class="error" for="user_current_password"><%= validation_errors resource.errors['current_password'] %></label>


        </div>

        <div><%= f.submit "Update" %></div>
        <% end %>

        <!-- <h3>Cancel my account</h3> -->

        <!-- <p>Unhappy?  -->
        <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
        <!-- </p> -->

        <%= link_to "Back", root_path %>

        <script type="text/javascript">
       //    $("#edit_user").validate({
       //      rules:{
       //        'user[name]': 
       //        {
       //          required: true
       //        },
       //        'user[email]':
       //        {
       //         required: true,
       //         email: true
       //       },
       //       "user[current_password]":{
       //        required:true
       //      },
       //      "user[password]":{
       //        required:true
       //      },
       //      "user[password_confirmation]":{
       //        required:true,
       //        equalTo: "#user_password"
       //      }
       //     },

       //     messages:{
       //      'user[name]': 
       //      {
       //       required:  'Name can\'t be blank'
       //     },
       //     'user[email]':
       //     {
       //       required: 'Please enter your email'
       //     },
       //      "user[current_password]":{
       //        required:"Enter previous password"
       //      },
       //      "user[password]":{
       //        required:"Enter new password"
       //      },
       //      "user[password_confirmation]":{
       //        required:"Enter new password again"
       //      }
       //   }
       // });

        </script>
